<footer class="footer">
	<small>
		<a href= "http://railstutorial.org/">Rails Tutorial</a>
		by Michael Harlt
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></1i>
			<li><%= link_to "Contact", contact_path %></1i>
			<li><a href = "http://news.railstutorial.org/">News</a></1i>
		</ul>
	</nav>
</footer>
